@import
	url('http://fonts.googleapis.com/css?family=Open+Sans:300,400,700');

@import
	url('http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css')
	;

body {
	color: #5D5F63;
	background: white;
	font-family: 'Open Sans', sans-serif;
	padding: 0;
	margin: 0;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}

.sidebar {
	width: 10%;
	height: 100%;
	background: white;
	position: absolute;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	z-index: 100;
}

.sidebar #leftside-navigation ul, .sidebar #leftside-navigation ul ul {
	margin: -2px 0 0;
	padding: 0;
}

.sidebar #leftside-navigation ul li {
	list-style-type: none;
	border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.sidebar #leftside-navigation ul li.active ul {
	display: block;
}

.sidebar #leftside-navigation ul li a {
	color: black;
	text-decoration: none;
	display: block;
	padding: 18px 0 18px 25px;
	font-size: 12px;
	outline: 0;
	-webkit-transition: all 200ms ease-in;
	-moz-transition: all 200ms ease-in;
	-o-transition: all 200ms ease-in;
	-ms-transition: all 200ms ease-in;
	transition: all 200ms ease-in;
}

.sidebar #leftside-navigation ul li a:hover {
	color: silver;
}

.sidebar #leftside-navigation ul li a span {
	display: inline-block;
}

.sidebar #leftside-navigation ul li a i {
	width: 20px;
}

#left {
	float: left;
}

#right {
	width: 85%;
	height: 300%;
	float: right;
}

#gallery {
	width: 300px;
	height: 450px;
}

.col-md-8 {
	margin-top: 70px;
	margin-left: 20px;
}

.col-md-12 {
	margin-top: 50px;
	margin-left: 50px;
}

.input-group, .dropdown {
	float: right;
}

.dropdown {
	margin-top: 30px;
}

/** 페이징 */
.center {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 35%;
}

.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

h5 {
	color: black;
}

h5 > a {
	text-decoration: none;
}

